:root{
    --white: rgb(227, 230, 255);
    --lighter-blue: (56, 149, 255);
    --blue: rgb(38, 0, 255);
}
* {  box-sizing: border-box;}

::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:active{
    background-color:  rgba(255, 255, 255, 0.9);
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 15px;
}
.nav-settings{
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding-bottom: 1rem;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.settings-item{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1.25rem;
    transition: 0.5s ease-in-out;
}s
.setting > img{
    transform: rotate(180deg);
}
.settings-item:first-child > img{
    width: 80%;
    height: 80%;
}
.settings-item > img{
    width: 70%;
    height: 70%;
}
.settings-item:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.neon{
    transform: translateY(200px);
    opacity: 0;
    z-index: -1;
}
.animation{
    transform: translateY(100px);
    opacity: 0;
    z-index: -1;
}
.rotate{
    transition: 0.5s ease-in-out;
    transform: rotate(180deg)
}
.active-nav{
    transition: 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}
.return{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.return:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.10);
}
.return > a{
    text-decoration: none;
    color: var(--black);
}

.contact-container{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 40vh;
}
.contact-text{
    text-align: center;
    margin: 2rem 0 2rem;
    padding: 0;
    width: 70%;
    height: 30%;
}
.contact-text > h1{
    font-size: 3em;
    font-style: italic;
    margin: 2.5em;
    padding: 0;
    letter-spacing: 0.5rem;
    color: rgb(227, 230, 255);
    animation: miganie 2.5s infinite alternate 1.5s;
}
.contact-item-row{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}
.contact-item{
    width: 20%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    border: 0.2rem solid rgb(187, 203, 255);
    border-radius: 15px;
    padding: 3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    animation: slide-in 1s ease-in-out 0.5s forwards;
}
.contact-item > p{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 0;
    padding: 0;
    text-align: center;
}
.contact-item> img{
    width: 30%;
    height: auto;
}
.contact-item:hover{
    box-shadow: 0 0 .2rem rgb(56, 149, 255),
              0 0 .2rem rgb(56, 149, 255),
              0 0 2rem rgb(38, 0, 255),
              0 0 0.8rem rgb(38, 0, 255),
              0 0 2.8rem rgb(38, 0, 255),
              inset 0 0 1.3rem rgb(38, 0, 255);
    transition: all 0.3s ease-in-out;
    outline: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: 0.2rem solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes miganie{
    0%, 18%, 22%, 25%, 53%, 57%, 100%{
        text-shadow:
        0 0 7px rgb(56, 149, 255),
        0 0 10px rgb(34, 137, 255),
        0 0 21px rgb(9, 124, 255),
        0 0 42px rgb(38, 0, 255),
        0 0 82px rgb(38, 0, 255),
        0 0 92px rgb(38, 0, 255),
        0 0 102px rgb(38, 0, 255),
        0 0 151px rgb(29, 0, 196);
    }
    20%, 24%, 55%{
        text-shadow: none;
        
    }
}
@keyframes slide-in{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.neon-off{
    text-shadow: none !important;
    box-shadow: none !important;
}
.anim-off{
    animation: none !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
}